* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2c2c2c; /* Màu nền tối */
    color: #ffffff; /* Màu chữ sáng */

}

.profile-card {
    background-color: #2c2c2c; /* Màu nền card */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.profile-picture {
    border-radius: 50%;
    margin-bottom: 15px;
}

h1 {
    font-size: 60px;
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: 30px;
    color: #d0a251; /* Màu chữ của tiêu đề phụ */
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
}
h5 {
    font-size: 18px;
    color: #000000; /* Màu chữ của tiêu đề phụ */
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-size: 18px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

.delegate-button {
    background-color: #d0a251; /* Nền nút */
    color: #fff; /* Màu chữ */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 15px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Khoảng cách giữa các icon */
}

.social-icons a {
    color: #d0a251; /* Màu icon */
    font-size: 20px; /* Kích thước icon */
    text-decoration: none; /* Bỏ gạch chân */
}

.project-image {
    border-radius: 10px;
    width: 80%; /* Đặt chiều rộng hình ảnh 100% */
            height: 250px; /* Đặt chiều cao cố định cho hình ảnh */
            object-fit: cover; /* Giữ tỷ lệ khung hình */
}

.project-title {
    color: #d0a251;
}

.footer {
    background-color: rgb(117, 108, 108);
    height: 50px;
}
.footer .container {
    height: 100%;
}
.footer .social-icons i {
    font-size: 1.5rem;
}
.footer .col {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-section {
    background-color: rgb(117, 108, 108);;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info {
    text-align: center; /* Căn giữa nội dung trong khối thông tin */
}